<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/logo-novacode.svg" alt="NovaCode" />
      </div>
      <div class="footer-links">
        <h3>Enlaces rápidos</h3>
        <ul>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#sobre-nosotros">Sobre Nosotros</a></li>
          <li><a href="#plans">Planes</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <h3>Redes sociales</h3>
        <ul>
          <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2024 NovaCode. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>

<style>
.footer {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000000; /* Fondo primario */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #87da4a33
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-links {
  margin-bottom: 2rem;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 1rem;
  color: #b978cc; /* Título de enlaces secundario */
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 1rem;
}

.footer-links a {
  color: #fff; /* Texto de enlaces */
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffbb00; /* Texto de enlaces en hover */
}

.footer-social {
  margin-bottom: 2rem;
}

.footer-social h3 {
  font-size: 18px;
  margin-bottom: 1rem;
  color: #b978cc; /* Título de redes sociales secundario */
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social li {
  margin-bottom: 1rem;
}

.footer-social a {
  color: #fff; /* Texto de redes sociales */
  text-decoration: none;
}

.footer-social a:hover {
  color: #ffbb00; /* Texto de redes sociales en hover */
}

.footer-copyright {
  margin-bottom: 2rem;
  color: #666; /* Texto de copyright */
}
</style>